.Sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    padding: 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 10;
    overflow-y: scroll;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer, Edge */
}

.Sidebar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

.Sidebar.open {
    transform: translateX(0);
}

.SidebarToggle {
    position: fixed;
    bottom: 8%;
    left: 0;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    border-radius: 0 5px 5px 0;
    z-index: 20;
    transition: left 0.3s ease;
}

.SidebarToggle.move-right {
    left: 250px;
}

.SidebarToggle:hover {
    background-color: #555;
}